node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea/

# macOS
.DS_Store
yarn.lock
.env
google-services.json
cosas_por_hacer.md
public-key.gpg
.gitsecret/keys/random_seed
!*.secret
appcliprivatekey.pgp
